/*-------------------TAG selector-------------------------*/
a{
	color: #11999E;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	color: #eaf6f6;
	font-weight: normal;
}

body{
	margin: 0px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-color: #fafafa;

}



h1{
	margin-top: 0px;
	font-family: 'Sacramento', cursive;
	color: #66BFBF;
}

h2{
	font-family: 'Merriweather', serif;
	color: #66BFBF;
}

h3{
	font-family: 'Merriweather', serif;
	color: #11999E;
}

hr{
	border-color: #cbf1f5;
	border-style: dotted hidden hidden hidden;
	border-width: 0.35rem;
	width: 5%;
	margin: 50px auto 50px auto;
}

p{
	/*max-width: 300px;
	margin:auto;*/
	/*color: #40514e;*/
	line-height: 2;
}




/*-------------------CLASS selector-------------------------*/

.about-me{
	width: 50%;
	margin: auto;
}

.adword-img{
	/*width: 150px;
	height: 150px;*/
	width: 25%;
	float: right;
	margin-left: 30px;
	/*background-color: lightblue;*/
	/*padding: 20px;*/
	/*border-radius: 100%;*/
}

.avatar-body{
	/*width: 200px;
	height: 200px;*/
	width: 15%;
	margin-top: 50px;
}

.bottom-cloud{
	position: absolute;
	left: 250px;
	bottom: 300px;

}

.bottom-container{
	background-color: #66BFBF;
	/*margin-bottom: 0;*/
	padding-bottom: 20px;
	padding-top: 40px;
	color: #cbf1f5;
}

.brief{
	font-size: 1.5rem;
	font-weight: normal;
}

.closer{
	width: 50%;
	margin: auto auto 30px auto;
}

.code-img{
	/*width: 150px;
	height: 150px;*/
	width: 25%;
	float: left;
	margin-right: 30px;
}

.contact-me{
	margin: 100px;
	line-height: 2;
}




.hello, .mySkills, .get-in-touch{
	font-size: 2rem;
}


.language-img{
	/*width: 150px;
	height: 150px;*/
	width: 25%;
	float: left;
	margin-right: 30px;
	/*background-color: magenta;*/
	/*padding: 20px;*/
	/*border-radius: 100%;*/
}

.middle-container{
	
}

.myButton {
	background:linear-gradient(to bottom, #66bfbf 5%, #408c99 100%);
	background-color:#66bfbf;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/*font-family:Arial;*/
	font-size:20px;
	padding:13px 32px;
	text-decoration:none;
	&:hover {
	background:linear-gradient(to bottom, #408c99 5%, #66bfbf 100%);
	background-color:#408c99;


	}
	 &:active {
		position:relative;
		top:1px;
	}
 }

.nama{
	font-size: 562.5%;
	margin: 50px auto 0px auto;
}

.not-important{
	font-size: 0.75rem;
	margin: 10px auto;
}

.skill-1{
}

.skill-row{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;

}



.top-cloud{
	position: absolute;
	top: 50px;
	right: 300px;

}

.top-container{
	background-color: #cbf1f5;
	padding-top: 100px;
	position: relative;
	/*line-height: 2;*/
}

/*-------------------ID selector-------------------------*/

#copyright{
	margin-top: 40px;
}